{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'registration.css' %}" media="screen">
{% endblock%}
{% block title %} Cadastro - A.P.A. {% endblock%}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'home' %}" class="brand-logo" id="div-logo"><i class="material-icons">
                <img src="../static/img/logo.svg" id="logo" alt="logo"></i><br>
                <span class="textonormal">CADASTRE-SE</span></a>
            <div class="caixa z-depth-4">
                {% for field in form %}
                {% if field.help_text %}
                <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                <form method="post" action="{% url 'cadastro' %}">
                    {% csrf_token %}
                    <table class="highlight">
                        <tr>
                            <td>E-mail
                                {{ form.email }}
                                Senha
                                {{ form.password1 }}
                                Confirmação de senha
                                {{ form.password2 }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="CADASTRAR" class="btn red darken-4">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="caixa z-depth-4">
                <div class="textonormal">Já tem conta? Faça o &nbsp<a href="{% url 'login' %}">Login</a></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}