{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'registration.css' %}" media="screen">
{% endblock%}
{% block title %} Lista de Espera - A.P.A. {% endblock%}
{% block main %}
<style>
    .textonormal{
        font-size: 0.8em;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'home' %}" class="brand-logo" id="div-logo"><i class="material-icons">
                <img src="../static/img/logo.svg" id="logo" alt="logo"></i><br>
                <span class="textonormal">Provisoriamente, não estamos fazendo novos cadastros.<br>
                    Preencha o cadastro para ser avisado assim que voltarmos!</span></a>
            <div class="caixa z-depth-4">
                {% for field in form %}
                {% if field.help_text %}
                <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                <form method="post" action="{% url 'espera' %}">
                    {% csrf_token %}
                    <table class="highlight">
                        <tr>
                            <td>
                                Nome completo:
                                {{ form.nome }}
                                E-mail:
                                {{ form.email }}
                                Telefone:
                                {{ form.fone }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="ENVIAR" class="btn red darken-4">
                </form>
            </div>
            <div class="caixa z-depth-4">
                <div class="textonormal">Já tem conta? Faça o &nbsp<a href="{% url 'login' %}">Login</a></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}