{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'registration.css' %}" media="screen">
{% endblock%}
{% block title %} Login - A.P.A. {% endblock%}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'home' %}" class="brand-logo" id="div-logo"><i class="material-icons">
                <img src="../static/img/logo.svg" id="logo" alt="logo"></i><br>
                <span class="textonormal">Login - </span>A. P. A.</a>
            <div class="caixa z-depth-4">
                {% if form.errors %}
                <p class="red-text">E-mail e/ou senha incorretos. Tente novamente. </p>
                {% endif %}
                {% if next %}
                {% if user.is_authenticated %}
                <p class="red-text">Sua conta não tem acesso a essa página. Favor faça o login com uma conta com acesso.</p>
                {% else %}
                <p class="red-text">Por favor, faça o login para visualizar a página</p>
                {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table class="highlight">
                        <tr>
                            <td>E-mail
                                {{ form.username }}
                                Senha <a class="right" href="{% url 'password_reset' %}">Esqueceu a senha?</a>
                                {{ form.password }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Entrar" class="btn red darken-4">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="caixa z-depth-4">
                <div class="textonormal">Ainda não tem conta? &nbsp<a href="{% url 'cadastro' %}"> Cadastre-se</a></div>

            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}