{% extends "base.html" %}
{% block main %}
<style>
body {background: rgb(235, 235, 235);}
#logo {
    width: 60px;
    height: 60px;
    margin: 35px 5px 0px 5px;
}
.textonormal{
    font-family: 'Playfair Display', serif;
    text-shadow: 0px 0px;
}
#div-logo{
    text-shadow: 1px 1px #b71c1c;
    color: black;
    font-family: 'Kaushan Script', cursive;
    font-size:  2.2em;
}
.caixa{
    margin: 0 auto;
    width: 300px;
    border: 2px solid rgb(254, 97, 106);
    border-radius: 5px;
    margin: 20px auto;
    max-width: 100%;
    padding: 15px;
    background: white;
}

</style>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'home' %}" class="brand-logo" id="div-logo"><i class="material-icons">
                <img src="../../static/img/logo.svg" id="logo" alt="logo"></i><br>
                <span class="textonormal">Alteração de Senha</span></a>
            <div class="caixa z-depth-4">
                <p class="flow-text">Sua senha foi alterada com sucesso!</p>
            </div>
            <a class="btn red darken-4 z-depth-4" href="{% url 'restrita' %}">Voltar</a>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}