{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main %}
<div class="container" id="content-main">

    <form method="post">{% csrf_token %}
        <div>
            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
            {% if form.errors %}
            <p class="errornote red-text">
                {% if form.errors.items|length == 1 %}Por favor corrija o erro abaixo: {% else %}
                Por favor corrija os erros abaixo: {% endif %}
            </p>
            {% endif %}


            <fieldset class="">

                <div class="form-row red-text">
                    {{ form.old_password.errors }}
                    {{ form.new_password1.errors }}
                    {{ form.new_password2.errors }}
                    {{ form.old_password.label_tag }} {{ form.old_password }}
                </div>

                <div class="form-row">
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                </div>

                <div class="form-row">
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}

                </div>

            </fieldset>

            <div class="submit-row">
                <input type="submit" value="Alterar minha senha" class="default btn red darken-4 "/>
            </div>
            <div class="black-text">
                <ul>
                    <li>- Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
                    <li>- Sua senha precisa conter pelo menos 8 caracteres.</li>
                    <li>- Sua senha não pode ser uma senha habitualmente utilizada.</li>
                    <li>- Sua senha não pode ser inteiramente numérica.</li>
                </ul>
            </div>
        </div>
    </form>
</div>

{% endblock %}
