{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'password.css' %}" media="screen">
{% endblock%}
{% block title %}{{ title }}{% endblock %}
{% block main %}
{% if validlink %}

<div class="container" id="content-main">
    <div class="texto-apoio">
        <p class="flow-text center-align">Definir nova senha:</p>
    </div>
    <form method="post">{% csrf_token %}
        <div class="caixa z-depth-4">
            <div class="form-row red-text">
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </div>
            <div class="form-row">
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>
            <div class="form-row">
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            </div>
            <div class="submit-row">
                <input type="submit" value="Alterar a senha" class="btn red darken-4 "/>
            </div>
        </div>
    </form>
    <div class="texto-apoio justify center-align">
        <ul>
            <li>- Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
            <li>- Sua senha precisa conter pelo menos 8 caracteres.</li>
            <li>- Sua senha não pode ser uma senha habitualmente utilizada.</li>
            <li>- Sua senha não pode ser inteiramente numérica.</li>
        </ul>
    </div>
</div>


{% else %}
<div class="caixa z-depth-4">
    <p>
        O link que você clicou para definir uma nova senha está inválido,
        provavelmente porque ele expirou ou já foi utilizado.
        Favor solicite uma nova modificação de senha.
    <div class="center-align"><a href="{% url 'home' %}">PÁGINA INICIAL</a></div>
    </p>
</div>
{% endif %}


{% endblock %}
