{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'registration.css' %}" media="screen">
{% endblock%}
{% block title %} Redefinir Senha - A.P.A. {% endblock%}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'home' %}" class="brand-logo" id="div-logo"><i class="material-icons">
                <img src="../static/logo.svg" id="logo" alt="logo"></i><br>
                <span class="textonormal">Esqueci a senha...</span></a>
            <div class="caixa z-depth-4">
                <form method="post">
                    {% csrf_token %}
                    <table class="highlight">
                        <tr>
                            <td>
                              {{ form.as_p }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Redefinir senha" class="btn red darken-4">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="caixa z-depth-4">
                <div class="textonormal">Já tem conta? Faça o &nbsp<a href="{% url 'login' %}">Login</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}