{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'registration.css' %}" media="screen">
{% endblock%}
{% block title %} Redefinir Senha - A.P.A. {% endblock%}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'home' %}" class="brand-logo" id="div-logo"><i class="material-icons">
                <img src="../../static/logo.svg" id="logo" alt="logo"></i><br>
                <span class="textonormal">Email enviado!</span></a>
            <div class="caixa z-depth-4">
                <div class="highlight flow-text">
                    Um link para definir uma nova senha foi enviado para o seu email.
                    Você deve recebê-lo em breve.<br>
                    Caso você não receba o email, certifique-se que você digitou o email correto e
                    procure na sua pasta de spam.
                </div>
            </div>
            <div class="caixa z-depth-4">
                <div class="textonormal">Ir para a &nbsp<a href="{% url 'home' %}">Página Inicial</a></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}