{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'registration.css' %}" media="screen">
{% endblock%}
{% block title %} Cadastro - A.P.A. {% endblock%}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'home' %}" class="brand-logo" id="div-logo"><i class="material-icons">
                <img src="../static/img/logo.svg" id="logo" alt="logo"></i><br>
                <span class="textonormal">Atualizar Cadastro</span></a>
            <div class="caixa z-depth-4">
                {% for field in form %}
                {% if field.help_text %}
                <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    <table class="highlight">
                        <tr>
                            <td>
                                {{ form.nome.label_tag }}
                                {{ form.nome }}
                                {{ form.telefone.label_tag }}
                                {{ form.telefone }}
                                {{ form.crm.label_tag }}
                                {{ form.crm }}
                                {{ form.estado.label_tag }}
                                {{ form.estado }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="CADASTRAR" class="btn red darken-4">
                    <a href="{% url 'restrita' %}" id="btn-cancelar" class="btn red darken-4">CANCELAR</a>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock %}