{% extends "base.html" %}
{% block title %} About - A.P.A. {% endblock%}
{% block main %}
<style>

img{
    float: left;
    margin: 8px 8px 1px 0px;
    width: 120px;
}
blockquote{
    margin-top: 50px;
    text-align: justify;
}
@media only screen and (min-width: 768px) {
    .flow-text {
    font-size: 1.3rem;
    img {
        width: 200px;
        margin: 8px;
        }
}


</style>
{% include 'navbar.html' %}

<div class="container">

    <blockquote>

    <img width="200" src="../static/img/eu.jpg" alt="foto-pessoal" id="eu">
        <p class="flow-text"> Meu nome é Lécio Bourbon Filho, sou sergipano, médico anestesiologista, formado
        pela UFS e com residência em anestesiologia pela Escola Paulista de Medicina.</p>
        <p class="flow-text"> Por enquanto, esse é um projeto de uma pessoa só. Para dúvidas ou sugestões, entre em
            <a href="{% url 'contato' %}">contato</a> comigo. </p>

    </blockquote>
</div>

{% block js %}
<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });





</script>
{% endblock%}
{% endblock%}