{% extends "base.html" %}

{% block title %} Contato - A.P.A. {% endblock%}

{% block main %}
<style>
blockquote{
    margin-top: 50px;
    text-align: justify;
}
.transparent{
    color: transparent;
}
@media only screen and (min-width: 768px) {
.flow-text {
    font-size: 1.3rem;
}



</style>
{% include 'navbar.html' %}

<div class="container">

    <blockquote>
        <p class="flow-text"> Em caso de dúvidas, críticas ou sugestões, entre em contato pelo email:
            <a href="mailto:avaliacaopreanestesica.contato@gmail.com">avaliacaopreanestesica.contato@gmail.com</a> </p>
        <p class="flow-text transparent"> . </p>
    </blockquote>
</div>

{% block js %}
<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });



</script>
{% endblock%}
{% endblock%}
