{% extends "base.html" %}

{% block title %} Preços - A.P.A. {% endblock%}

{% block main %}<style>
blockquote{
    margin-top: 50px;
    text-align: justify;
}
.transparent{
    color: transparent;
}

@media only screen and (min-width: 768px) {
.flow-text {
    font-size: 1.3rem;
}


</style>
{% include 'navbar.html' %}

<div class="container">

    <blockquote>

        <p class="flow-text"> No momento, todos os produtos e serviços fornecidos no site são <u>gratuitos</u>. Porém, existe
        um custo fixo mensal para manter o site no ar: hospedagem, domínio, servidores, serviços de API, licenças de software,
        suporte, manutenção, etc... </p>

        <p class="flow-text"> Considere fazer uma <u><strong><a href="{% url 'doacoes' %}">DOAÇÃO</a></strong></u> para manter o site no ar.</p>
        <p class="flow-text transparent"> . </p>
    </blockquote>
</div>

{% block js %}
<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });


</script>
{% endblock%}
{% endblock%}
