{% extends "base.html" %}

{% block title %} Preços - A.P.A. {% endblock%}

{% block main %}<style>
body {
    font-size: .7em;
}
blockquote{
    margin-top: 50px;
    text-align: justify;
}
.transparent{
    color: transparent;
}
@media only screen and (min-width: 768px) {

}


</style>
{% include 'navbar.html' %}

<div class="container">

    <blockquote>

        <p class="flow-text"> Por enquanto todos os produtos e serviços fornecidos aqui são gratuitos. Porém, existe
        um custo não desprezível para manter o site no ar: hospedagem, domínio, serviços de API, manutenção, etc... </p>

        <p class="flow-text"> Por esse motivo, é possível que no futuro venhamos a oferecer novos serviços e cobrar
        por eles.</p>
        <p class="flow-text transparent"> . </p>
    </blockquote>
</div>

{% block js %}
<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });


</script>
{% endblock%}
{% endblock%}
