html, body {
    background: rgb(250, 250, 250);
}
#apa-logo{
    text-shadow: 2px 2px #b71c1c;
    color: black;
    font-family: 'Kaushan Script', cursive;
    font-size:  2.2em;
}
.material-icons{
    margin-left: 15px;
}
.meiatela{
    max-width: 45%;
}
input[type=text], input[type=number], input[type=date]{
    padding-left: 12px !important;
}
#altura{padding-left: 3px !important;}
input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
 border-bottom: 1px solid red !important;
 box-shadow: 0 0px 0 0 #000;
}
.row{
    margin: 0;
    padding: 0;
}
.col{
    margin: 0;
}
.pergunta{
    margin-top: 10px;
    border: 1px solid re;
}
.questionmark{
    margin-top: 15px;
    border: 1px solid re;
}
.switch{
    margin-bottom: 15px;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgb(254, 97, 106);
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: rgb(254, 97, 106);
}
.enfase{
    font-size: 1.15em !important;
    font-weight: bolder;
}
.invisivel{
    visibility: hidden;
}
.x{
    padding: 0px !important;
    margin: 0px !important;
}
.borda{
    border: 1px solid red !important;
    border-radius: 5px !important;
}
#clinica .row{
    margin-bottom: 5px;
}
.mydropbtn {
    background-color: rgb(220, 220, 220);
    border: none;
    padding: 5px;
    width: 120px;
    height: 42px;
    border-radius: 5px;
    margin: auto 0;
}
.mydropdown {
    position: relative;
    display: inline-block;
}
.mydropdown-content {
    display: none;
    position: absolute;
    left: 3%;
    background-color: rgb(238, 238, 238);
    min-width: 140px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.mydropdown-content label {
    display: block;
    float: left;
}
.mydropdown-content label:hover {background-color: rgb(220, 220, 220);}
.mydropdown:hover .mydropdown-content {display: block;}
.mydropdown:hover .mydropbtn {background-color: rgba(200, 200, 200, 0.1);}
.mydropdown{
    display: inline-block;
    position: relative;
    top: .3em;
}
.vias-aereas img{
    width: 30px;
}
.vias-aereas{
    margin-bottom: 10px;
}
.margint{
    margin-top: 15px;
}
#asa{
}
html, body {
    background: rgb(250, 250, 250);
}
