body {background: rgb(235, 235, 235);}
#logo {
    width: 60px;
    height: 60px;
    margin: 35px 5px 0px 5px;
}
.textonormal{
    font-family: 'Playfair Display', serif;
    text-shadow: 0px 0px;
}
#div-logo{
    text-shadow: 1px 1px #b71c1c;
    color: black;
    font-family: 'Kaushan Script', cursive;
    font-size:  2.2em;
}
.caixa{
    margin: 0 auto;
    width: 300px;
    border: 2px solid rgb(254, 97, 106);
    border-radius: 5px;
    margin-top: 15px;
    max-width: 100%;
    padding: 15px;
    background: white;
    width: 100%;
}
tr{padding: 0 !important;}
table input{
    border: 0px !important;
    margin: 0;
}
#total{
    max-width: 65%;
    float: right;
    padding: 5px;
    }
p {text-align: justify;}
input:not([type=submit]):focus{
    border-bottom: 2px solid rgb(254, 97, 106) !important;
}
input[type=text]{
    font-size: 1.2em !important;
}
table input{
    border-bottom: 1px solid rgb(254, 97, 106) !important;
}
.assinatura{text-align: center;}
.traco {
    text-decoration: overline;
    margin-top: 35px;
    color: black;
}
#data{
    margin-top: 20px;
    color: black;
}
@media only screen and (min-width: 768px) {

.assinatura{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.traco {
    text-decoration: overline;
    margin-top: 25px;
    color: black;
    letter-spacing: 2px;
}
#data{text-decoration:none;}
table input{
    border-bottom: 0px solid rgb(254, 97, 106) !important;
}
}