body {
    background: rgb(235, 235, 235);
}
.caixa{
    margin: 10px auto;
    width: 400px;
    border: 2px solid rgb(254, 97, 106);
    border-radius: 5px;
    margin-top: 15px;
    max-width: 100%;
    padding: 15px;
    background: white;
}
.texto-apoio{
    text-align: justify;
    text-justify: inter-word;
    margin: 10px auto;
    max-width: 400px;
}
input[type=submit] {
    margin: 10px auto;
}
input:not([type=submit]):focus{
    border-bottom: 2px solid rgb(254, 97, 106) !important;
}