body{margin:0;}
.logo-mobile {
    font-weight: bold;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size:  1.5em;
}
i {color:black;}
nav {
    height: 9vh;
}
.col {
    padding: 0 !important;
}
.painel-lat-restrita{
    padding: 3px;
    height: 86vh;
    background: rgb(248, 248, 248);
}
.main-restrita {
    background: rgb(248, 248, 248);
    height: 86vh;
    overflow: auto;
}
.titulo-lista{
    position: relative;
    bottom: 5px;
    font-size:  1.4em;
}
#item-paciente{
    background: white;
    height: 3.5em;
    margin: 6px 0px;
    padding: 5px;
    color: black;
    white-space: nowrap;
    border-radius: 5px;
}
.item-nome{
    display: block;
    float: left;
    width: 89vw;
    color: black;
}
.item-data{
    display: block;
    float: left;
    width: 89vw;
    color:rgb(190, 190, 190);
    text-transform: lowercase;
}
.item-opcoes{
    display: inline-block;
    position: relative;
    top: .5em;
}
#btn-nova{
    position: fixed;
    bottom: 5vh;
    right: 10vw;
}
#add-icon{font-size:35px;}
.paginador {
    height: 5vh;
    background: rgb(248, 248, 248);
}
@media only screen and (min-width: 993px) {
nav {
    height: 4.2em;
}
nav .button-collapse i, nav .brand-logo, nav i{
    height: 2em;
    line-height: 1.6em;
}
#logo-rest {
    width: 45px;
    height: 1em;
    margin: 10px 5px 5px 5px;
}
#div-logo-rest{
    text-shadow: 2px 2px #b71c1c;
    color: black;
    font-family: 'Kaushan Script', cursive;
    font-size:  2.2em;
}
i {
    font-size: 35px !important;
}
#moredropdown{
    width: 400px !important;
    border: 2px solid red;
}
#perfil-grande, #dropdownclasgic{
    width: 150px;
    padding-left: 70px;
}
.item-nome, .item-data{
    position: relative;
    top: .8em;
    float: left;
}
.item-nome{width: 65%;}
.item-data{width: 25%;}
.item-opcoes{
    max-width: 10%;
    float: right;
    }
#btn-nova-grande{
    position: fixed;
    top: 17vh;
    left: 5vw;
    border-radius: 50px;
    color: black;
    font-size: 1.5em;
    font-family: sans-serif;
    line-height: 2.5em;
    width: 150px;
}
.texto-paginador{
    position: relative;
    top: 8px;
    width: 200px;
}

}