<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Merienda|Playfair+Display" rel="stylesheet">
    {% block meta %}{% endblock%}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lécio dos Anjos Bourbon Filho">
    <meta name="keywords" content="anestesia, avaliação pré-anestésica, ficha, anestesiologia, preanestesico">
    <meta name="description" content="Aplicativo web para realização de avaliação pré-Anestésica de forma rápida, grátis e na nuvem">
    <meta name="application-name" content="Avaliação Pré-Anestésica">
    <title>{% block title %} {% endblock%}</title>
    <style>
    html{font-family: 'Playfair Display', serif;}
    </style>
</head>
<body>
{% block main %}

{% endblock%}

{% block js %}

{% endblock%}

</body>
</html>

