<!DOCTYPE html>
<html lang="pt-BR">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
<div class="container">
    <h3 class="center-align">FAÇA AQUI SEU CADASTRO:</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect hoverable" type="submit">Cadastrar</button>
    </form>

</div>
</body>
</html>