
<!------ NAVEGACAO TELA PEQUENA ------>
<div class="hide-on-large-only ">
    <nav>
        <div class="nav-wrapper z-depth-2">
            <a href="#!" class="logo-mobile">Minhas APA's</a>
            <a href="#" data-target="mobile-menu-restrita" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
            <ul class="right">
                <li><a class='dropdown-trigger' href='#' data-target='dropdownclas' data-hover='true'
                       data-constrainWidth='false'>
                    <i class="material-icons left">import_export</i></a></li>
                <ul id='dropdownclas' class='dropdown-content'>
                    <li><a href="#!" class="black-text"><b>ORDENAR:</b></a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="{% url 'restrita'%}?ordem=nome" class="black-text">Nome (A-Z)</a></li>
                    <li><a href="{% url 'restrita'%}?ordem=-nome" class="black-text">Nome (Z-A)</a></li>
                    <li><a href="{% url 'restrita'%}?ordem=-data" class="black-text">Recentes</a></li>
                    <li><a href="{% url 'restrita'%}?ordem=data" class="black-text">Antigas</a></li>
                </ul>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-menu-restrita">
        <li><a href='{% url 'profile_update' user.profile.id %}'><i class="material-icons left black-text">account_circle</i>
            <p class="truncate">{{ user.email }}</p></a></li>
        <li><a href="{% url 'configuracoes' %}"><i class="material-icons left black-text">settings</i>Configurações</a>
        </li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="{% url 'ajuda' %}"><i class="material-icons left black-text">help</i>Ajuda</a></li>
        <li><a href="{% url 'termos' %}"><i class="material-icons left black-text">description</i>Termos do Serviço</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons left black-text">arrow_back</i>Sair</a></li>
    </ul>
</div>
<!------ NAVEGACAO  PEQUENA FIM------>
<!-- NAVEGACAO TELA GRANDE -->
<div class="navbar-fixed hide-on-med-and-down">
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'restrita' %}" class="brand-logo" id="div-logo-rest"><i class="material-icons">
                <img src="../static/img/logo.svg" id="logo-rest" alt="logo"></i>A. P. A.</a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <form method="get" action="{% url 'restrita' %}">
                        <div class="input-field">
                            <input id="search" name="q" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
                <li><a class='dropdown-trigger' href='#' data-target='dropdownclasg' id='dropdownclasgic'>
                    <i class="material-icons left">import_export</i></a></li>
                <ul id="dropdownclasg" class='dropdown-content'>
                    <li><a href="#!" class="black-text"><b>ORDENAR POR:</b></a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="{% url 'restrita'%}?ordem=nome" class="black-text">Nome (A-Z)</a></li>
                    <li><a href="{% url 'restrita'%}?ordem=-nome" class="black-text">Nome (Z-A)</a></li>
                    <li><a href="{% url 'restrita'%}?ordem=-data" class="black-text">Recentes</a></li>
                    <li><a href="{% url 'restrita'%}?ordem=data" class="black-text">Antigas</a></li>
                </ul>
                <li><a href="{% url 'configuracoes'%}"><i class="material-icons left black-text">settings</i></a></li>
                <li><a class='dropdown-trigger' href='#' data-target='dropdownperfilg' id="perfil-grande">
                    <i class="large material-icons left black-text">account_circle</i></a></li>
                <ul id='dropdownperfilg' class='dropdown-content'>
                    <li><a href="{% url 'profile_update' user.profile.id %}">Usuário: {{ user.email }} </a></li>
                    <li><a href="{% url 'password_change' %}" class="black-text">Alterar senha</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="{% url 'ajuda' %}" class="black-text">Ajuda</a></li>
                    <li><a href="{% url 'termos' %}" class="black-text">Termos do Serviço</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="{% url 'logout' %}" class="black-text"><i class="material-icons left black-text">exit_to_app</i>Sair</a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
</div>
<!------ NAVEGACAO  GRANDE FIM------>