{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'restrita.css' %}" media="screen">
{% endblock%}
{% block title %} Área de Membros - A.P.A. {% endblock%}
{% block main %}
{% include 'navbar-restrita.html' %}

<div class="row">
    <div class="col l3 painel-lat-restrita hide-on-med-and-down">
        <a href="{% url 'ficha'%}" class="btn-large waves-effect waves-light red darken-4 z-depth-3"
           id="btn-nova-grande"><span>+&nbsp&nbspNova</span></a>
    </div>
    <div class="main-restrita col s12 m12 l9">
        <a href="{% url 'ficha' %}"
           class="btn-floating btn-large waves-effect waves-light red darken-4 hide-on-large-only z-depth-3"
           id="btn-nova"><i class="large material-icons black-text" id="add-icon">add</i></a>
        <div id="lista-pacientes valign-wrapper">
            <ul>
                <div class="titulo-lista center-align hide-on-med-and-down">MEUS PACIENTES:</div>
                <div class="titulo-lista center-align hide-on-large-only">
                    <li>
                        <form method="get" action="{% url 'restrita' %}">
                            <div class="input-field">
                                <input id="search-mob" name="q" type="search" required>
                                <label class="label-icon" for="search"><i id="search" class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                </div>
                {% for ficha in object_list%}
                <div class="z-depth-2" id="item-paciente">
                    <a href="{% url 'ficha_update' ficha.id %}">
                        <div class="item-nome truncate">{{ficha.nome|upper}}</div>
                        <div class="item-data">{{ficha.data|default:"data desconhecida"}}</div>
                    </a>
                    <div class="mydropdown">
                        <button class="mydropbtn"><i class="material-icons">more_vert</i></button>
                        <div class="mydropdown-content">
                            <a href="{% url 'ficha_update' ficha.id %}"><i class="material-icons">edit</i>editar</a>
                            <a href="{% url 'ficha_print' ficha.id %}"><i class="material-icons">print</i>imprimir</a>
                            <a href="{% url 'tcle' ficha.id %}"><i class="material-icons">description</i>TCLE</a>
                            <a href="{% url 'orcamento' ficha.id %}"><i class="material-icons">attach_money</i>orçamento</a>
                            <a href="{% url 'ficha_delete' ficha.id %}"><i class="material-icons">delete</i>delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 paginador center-align">
            {% if busca != "None" %}
            <span class="texto-paginador">mostrando {{object_list.count}} resultado{{object_list.count|pluralize:"s"}} da busca por:  {{ busca }} </span>
            {% else %}
            <span class="texto-paginador">mostrando {{object_list.count}} apa{{object_list.count|pluralize:"'s"}}</span>
            {% endif %}
        </div>
    </div>
</div>
{% block js %}
<script src="../static/restrita.js"></script>
{% endblock%}
{% endblock%}