{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'restrta.css' %}" media="screen">
{% endblock%}
{% block title %} Área de Membros - A.P.A. {% endblock%}
{% block main %}

<table class="highlight responsive-table black-text">
    <tbody>
    <tr>
        <td><input type="text" value="Procedimentos:"></td>
        <td><input type="text" value="%"></td>
        <td><input type="text" value="Valor (R$):"></td>
    </tr>
    <tr>
        <td>{{ form.cirurgia}}</td>
        <td><input type="number" value="100"></td>
        <td><input type="number" class="valor" onChange="somarTotal()"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number" class="valor" onChange="somarTotal()"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number" class="valor" onChange="somarTotal()"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number" class="valor" onChange="somarTotal()"></td>
    </tr>
    </tbody>
</table>
<button onclick="somarTotal()">Try it</button>
Total: <input type="number" id="total">

{% block js %}
<script>
    function somarTotal() {
        var valores = document.getElementsByClassName("valor");
        var sum = 0;
        for (var i=0; i<valores.length; i++){
            sum += parseInt(valores[i].value) || 0;
        };
        console.log(sum);
        document.getElementById("total").value = sum;

    }

</script>
{% endblock%}
{% endblock%}